<% if !user_signed_in?%>
 <div class="jumbotron">
   <h1> YOUR FAVORITES MOVIES REVIEWED</h1>
   <p> Please sign in to  a review</p>
   <p> <%= link_to "Sign Up", new_user_registration_path, class: "floatleft btn btn-primary btn-lg", style: "color:white" %></p>
   <p> <%= link_to "Sign In", new_user_session_path, class: "floatright btn btn-info btn-lg", style: "color:white" %></p>
 </div>
<% end %>  

  <%= link_to ' New', new_movie_path, class: "btn btn-info fa fa-plus-square-o", style: "color:white" %>
  <div class="row pagemargin">
    <% @movies.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail cards-container card">
          <%= link_to (image_tag movie.image.url(:medium), class: "image photo"), movie%>
          <h5 class= "centertitle">
            <%= movie.title %>
          </h5>
        </div>
      </div>
    <% end %>  
  </div>
