<nav class="navbar navbar-default navbar-fixed" role="navigation">
	<div class="navbar-header">
		 
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="<%= asset_path root_path%>  "><img style="max-width:150px; margin-top: -15px;"
       src="<%= asset_path 'logomovies.png' %>"></a>
	</div> 
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav"> 
			<li>
				<a href="<%= asset_path movies_path%>">Movies</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<% if defined?(Devise) %>
					<% if user_signed_in? %>
						<li><%= image_tag current_user.image %></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
								<li class="divider"></li>
								<li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>
						<% else %>
						<li><%= link_to t('login'), new_user_session_path %></li>
						<li><%= link_to t('signup'), new_user_registration_path %></li>
					<% end %>
				<% end %> 
			</li>
		</ul>
	</div>
	
</nav>